<footer class="container text-center mt-5">
    <p class="text-muted">
        &copy; Copyright {{ 'now'|date('Y') }} 
        &middot;
        Built with <span class="text-danger">&hearts;</span> by Ben Meziani
        <a href="https://mon-site-developpeur.com/" target="_blank">Mon portfolio</a>
    </p>
</footer>